*{
    text-decoration: none;
}
body{
    color: #1e272e;
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    display: grid;
    overflow: hidden;
    background-color: black;
}
input{
    display: none;
}
.container{
    width: 99vw;
    height: 98vh;
    display: grid;
    justify-self: center;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
    background-color: black;
}

/* Background Shapes */
.bg1{
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: black;
}
.bg2{
    grid-row: 1/4;
    grid-column: 2/3;
    background-color: black;
}
.bg3{
    grid-row: 1/4;
    grid-column: 3/4;
    background-color: black;
}
.bluecircle{
    grid-row: 1/2;
    grid-column: 3/4;
    border: 40px solid #24b1e2;
    transform: translatex(20px) translatey(40px);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.pinkcircle{
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: #f43f7f;
    transform: translatex(-180px) translatey(-200px);
    border-radius: 50%;
    width: 480px;
    height: 480px;
    z-index: 0;
}
.yellowwave{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 1;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 50px;
    background: black;
    transform: rotate(-90deg) translatey(300px);
}
.yellowwave:before{
    content: "YellowWaveYellowWaveYellowWaveYellowWave";
    color: black;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4c541;
    position: relative;
    top: -40px;
    animation: wave 3s linear infinite;
}
.yellowwave2{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 1;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 50px;
    background: black;
    transform: rotate(-90deg) translatey(340px);
}
.yellowwave2:before{
    content: "YellowWaveYellowWaveYellowWaveYellowWave";
    color: black;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4c541;
    position: relative;
    top: -40px;
    animation: wave 3s linear infinite;
}
.yellowwave3{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 1;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 50px;
    background: black;
    transform: rotate(-90deg) translatey(380px);
}
.yellowwave3:before{
    content: "YellowWaveYellowWaveYellowWaveYellowWave";
    color: black;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4c541;
    position: relative;
    top: -40px;
    animation: wave 3s linear infinite;
}
.yellowwave4{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 1;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 50px;
    background: black;
    transform: rotate(-90deg) translatey(420px);
}
.yellowwave4:before{
    content: "YellowWaveYellowWaveYellowWaveYellowWave";
    color: black;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4c541;
    position: relative;
    top: -40px;
    animation: wave 3s linear infinite;
}
.yellowwave5{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 1;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 50px;
    background: black;
    transform: rotate(-90deg) translatey(460px);
}
.yellowwave5:before{
    content: "YellowWaveYellowWaveYellowWaveYellowWave";
    color: black;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4c541;
    position: relative;
    top: -40px;
    animation: wave 3s linear infinite;
}
.yellowwave6{
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 1;
    width: 600px;
    height: 40px;
    overflow: hidden;
    font-size: 50px;
    background: black;
    transform: rotate(-90deg) translatey(500px);
}
.yellowwave6:before{
    content: "YellowWaveYellowWaveYellowWaveYellowWave";
    color: black;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #f4c541;
    position: relative;
    top: -40px;
    animation: wave 3s linear infinite;
}
@keyframes wave{
    0% {
        left: 0;
    }
    100% {
        left: -90px;
    }
}


.header{
    grid-row: 1/4;
    grid-column: 1/2;
    display: grid;
    align-items: center;
    justify-content: center;
}
.header img{
    transform: rotate(-90deg);
    width: 600px;
}
.mapwrap{
    grid-row: 1/4;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    display: grid;
    transform: translatex(450px);
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#here{
    grid-row: 1/2;
    grid-column: 1/2;
    transform: rotate(-90deg) translatex(-150px) translatey(-142px);
    align-self: center;
    justify-self: center;
    width: 100px;
}
#heretitle{
    grid-row: 1/2;
    grid-column: 1/2;
    transform: rotate(-90deg) translatex(-226px) translatey(-162px);
    align-self: center;
    justify-self: center;
    font-size: 16px;
    font-family: "oswald";
    font-weight: bold;
    text-align: center;
    background-color: #f43f7f;
    color: white;
    padding: 2px 8px 2px 8px;
}
.mapborder{
    transform: rotate(-90deg);
    border: 2px solid white;
    padding: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
}
.mapborder img{
    width: 850px;
    background-color: white;
    padding: 10px;
}
.themebox{
    grid-row: 3/4;
    grid-column: 3/4;
    width: 600px;
    display: grid;
    grid-template-columns: 20% 80%;
    transform: rotate(-90deg) translatex(278px) translatey(-120px);
    border: solid 2px white;
    background-color: black;
    color: white;
    z-index: 999;
}
.themeboxtitle{
    transform: rotate(-90deg) translatex(12px) translatey(90px);
    font-size: 24px;
    font-weight: bold;
}
.themeboxinfo{
    border-left: 2px solid white;
    display: grid;
    align-items: center;
}
.themeboxinfo span{
    margin-left: 20px;
    font-size: 24px;
}
.pinkplussign{
    color: #f43f7f;
    margin-right: 10px;
}
.yellowplussign{
    color: #f4c541;
    margin-right: 10px;
}
.blueplussign{
    color: #24b1e2;
    margin-right: 10px;
}
.greenplussign{
    color: #64873a;
    margin-right: 10px;
}
.pinkplussignlarge{
    color: #f43f7f;
    font-size: 48px;
}
.yellowplussignlarge{
    color: #f4c541;
    font-size: 48px;
}
.blueplussignlarge{
    color: #24b1e2;
    font-size: 48px;
}
.greenplussignlarge{
    color: #64873a;
    font-size: 48px;
}
.pinkplussignref{
    color: #f43f7f;
    font-size: 48px;
    margin-left: 20px;
}
.yellowplussignref{
    color: #f4c541;
    font-size: 48px;
    transform: translatey(-40px);
    margin-left: 20px;
}
.connectbox{
    grid-row: 1/2;
    grid-column: 3/4;
    width: 250px;
    display: grid;
    grid-template-rows: 20% 80%;
    transform: rotate(-90deg) translatex(-103px) translatey(55px);
    border: solid 2px white;
    background-color: black;
    color: white;
    z-index: 999;
}
.connectboxtitle{
    transform: translatey(0px);
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}
.connectboxtitle span{
    margin-left: 20px;
}
.connectboxinfo{
    border-top: 2px solid white;
    display: grid;
    align-items: center;
}
.connectboxinfo span{
    margin-left: 20px;
    font-size: 20px;
}
.buttoncontainer{
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 12% 88%;
    border: solid 2px white;
    width: 300px;
    height: 550px;
    justify-self: end;
    z-index: 999;
    background-color: black;
    transform: rotate(-90deg) translatex(43px) translatey(-132px);
}
.buttontitle{
    grid-row: 1/2;
    width: 300px;
    font-weight: bold;
    display: grid;
    align-items: center;
    border-bottom: solid 2px white;
}
.buttontitle span{
    color: white;
    font-size: 24px;
    margin-left: 24px;
}
.buttonwrap{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    justify-self: center;
    z-index: 999;
}
.button{
    width: 250px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 1s;
}
.button:active{
    transform: scale(1.2);
}
#room0:checked ~ .container .buttonwrap .button:nth-of-type(1),
#room1:checked ~ .container .buttonwrap .button:nth-of-type(2),
#room2:checked ~ .container .buttonwrap .button:nth-of-type(3),
#room3:checked ~ .container .buttonwrap .button:nth-of-type(4),
#room4:checked ~ .container .buttonwrap .button:nth-of-type(5),
#room5:checked ~ .container .buttonwrap .button:nth-of-type(6){
    transform: translatex(-40px) scale(1.2);
    transition: 1s;
}
#buttontitle{
    border: 0px;
    border-left: 2px solid white;
}



#room1:checked ~ .container #arrow1 {
      opacity: 1;
}
#room2:checked ~ .container #arrow2 {
    opacity: 1;
}
#room3:checked ~ .container #arrow3,
#room3:checked ~ .container #arrow4,
#room3:checked ~ .container #arrow5 {
    opacity: 1;
}
#room4:checked ~ .container #arrow6,
#room4:checked ~ .container #arrow7,
#room4:checked ~ .container #arrow8 {
    opacity: 1;
}
#room5:checked ~ .container #arrow9,
#room5:checked ~ .container #arrow10 {
    opacity: 1;
}

#room0:checked ~  .container .scene .cube {
    transform: translateZ(-200px) rotateY(   0deg);
}
#room1:checked ~  .container .scene .cube {
    transform: translateZ(-200px) rotateY( -90deg);
}
#room2:checked ~  .container .scene .cube {
    transform: translateZ(-200px) rotateY(-180deg);
}
#room3:checked ~  .container .scene .cube {
    transform: translateZ(-200px) rotateY(  90deg);
}
#room4:checked ~  .container .scene .cube {
    transform: translateZ(-200px) rotateX( -90deg);
}
#room5:checked ~  .container .scene .cube {
    transform: translateZ(-200px) rotateX(  90deg);
}

/* #room1:checked ~  .container .scene {
    transform: rotate(-90deg) translatex(400px) translatey(150px);
} */
.scene {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 450px;
    height: 450px;
    perspective: 600px;
    transform: rotate(-90deg) translatex(330px) translatey(670px);
    transition: 2s;
    z-index: 999;
}
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 2s;
}
.cubeface {
    position: absolute;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-rows: 20% 80%;
    border: 2px solid white;
    background-color: black;
    color: white;
    backface-visibility: hidden;
    font-size: .9em;
}
.cubetitle{
    grid-row: 1/2;
    width: 450px;
    border-bottom: 2px solid white;
    font-weight: bold;
    display: grid;
    align-items: center;
}
.cubetitle span{
    font-size: 34px;
    margin-left: 24px;
}
.cubetext{
    grid-row: 2/3;
    display: grid;
    align-items: center;
    font-size: 22px;
    margin-left: 24px;
    margin-right: 24px;
}
#left .cubetext{
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 10% 90%;
}
#top .cubetext{
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    grid-template-columns: 10% 90%;
}
#bottom .cubetext{
    grid-template-rows: 50% 50%;
    grid-template-columns: 20% 80%;
}
#bottom img{
    margin-left: 12px;
    margin-right: 12px;
}
#wkimg{
    width: 180px;
}
#sisimg{
    width: 150px;
    transform: translatey(-40px);
}
.subtitle{
    font-size: 14px;
    margin-left: 24px;
}
.paneltitle{
    font-size: 14px;
}
.panelsubtitle{
    font-size: 14px;
    margin-left: 24px;
}
.paneltime{
    font-size: 14px;
    color: #f4c541;
}
.chattitle{
    font-size: 16px;
}
.chatsubtitle{
    font-size: 16px;
    margin-left: 24px;
}
.chattime{
    font-size: 16px;
    color: #f4c541;
}
.divider{
    margin: 0 10px 0 10px;
    font-size: 14px;
}
.workshoptitle{
    transform: translatey(4px);
}
#front { 
    transform: rotateY(  0deg) translateZ(225px); 
}
#right { 
    transform: rotateY( 90deg) translateZ(225px);
}
#back { 
    transform: rotateY(180deg) translateZ(225px); 
}
#left { 
    transform: rotateY(-90deg) translateZ(225px); 
}
#top { 
    transform: rotateX( 90deg) translateZ(225px); 
}
#bottom { 
    transform: rotateX(-90deg) translateZ(225px); 
}



/* Arrow Animation */
@keyframes elasticus {
0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
}
50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
}
50.1% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
}
100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
}
}
@keyframes elasticus2 {
    0% {
        transform-origin: 0% 0%;
        transform: scale(1, 0);
    }
    50% {
        transform-origin: 0% 0%;
        transform: scale(1, 1);
    }
    50.1% {
        transform-origin: 0% 100%;
        transform: scale(1, 1);
    }
    100% {
        transform-origin: 0% 100%;
        transform: scale(1, 0);
    }
    }

/* Individual Arrow Size & Placement */
#arrow1 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(304px);
    opacity: 0;
}
#arrow1wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow1scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow1down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow1down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow1scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow11scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-108px) translatey(-117px) rotate(90deg);
}
.arrow11down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow11down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-115px);
}
#arrow11scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .48s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow12scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: rotate(-45deg) translatex(180px) translatey(-165px);
}
.arrow12down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow12down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(0px) translatey(-87px);
}
#arrow12scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .96s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 90px;
    background: #f43f7f;
    content: ' ';
}
#arrow13scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-2px) translatey(-353px);
}
.arrow13down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow13down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(1px) translatey(-37px);
}
#arrow13scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.44s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 135px;
    background: #f43f7f;
    content: ' ';
}
#arrow14scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-109px) translatey(-527px) rotate(90deg);
}
.arrow14down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow14down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: rotate(135deg) translatex(28px) translatey(-28px);
}
#arrow14scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.92s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 217px;
    background: #f43f7f;
    content: ' ';
}
#arrow2 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(304px);
    opacity: 0;
}
#arrow2wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow2scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow2down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow2down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow2scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow21scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-108px) translatey(-117px) rotate(90deg);
}
.arrow21down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow21down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-115px);
}
#arrow21scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .48s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow22scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: rotate(-45deg) translatex(180px) translatey(-165px);
}
.arrow22down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow22down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(0px) translatey(-87px);
}
#arrow22scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .96s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 90px;
    background: #f43f7f;
    content: ' ';
}
#arrow23scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-2px) translatey(-353px);
}
.arrow23down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow23down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(1px) translatey(-37px);
}
#arrow23scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.44s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 135px;
    background: #f43f7f;
    content: ' ';
}
#arrow24scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-109px) translatey(-527px) rotate(90deg);
}
.arrow24down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow24down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: rotate(135deg) translatex(28px) translatey(-28px);
}
#arrow24scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.92s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 217px;
    background: #f43f7f;
    content: ' ';
}
#arrow3 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(407px);
    opacity: 0;
}
#arrow3wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow3scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow3down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow3down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow3scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow31scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-108px) translatey(-117px) rotate(90deg);
}
.arrow31down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow31down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-115px);
}
#arrow31scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .4s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow32scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: rotate(-45deg) translatex(180px) translatey(-165px);
}
.arrow32down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow32down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(0px) translatey(-87px);
}
#arrow32scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 90px;
    background: #f43f7f;
    content: ' ';
}
#arrow33scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-2px) translatey(-353px);
}
.arrow33down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow33down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(1px) translatey(-37px);
}
#arrow33scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.2s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 135px;
    background: #f43f7f;
    content: ' ';
}
#arrow34scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-109px) translatey(-527px) rotate(90deg);
}
.arrow34down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow34down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(0px) translatey(-12px);
}
#arrow34scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 157px;
    background: #f43f7f;
    content: ' ';
}
#arrow35scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-166px) translatey(-842px) rotate(180deg);
}
.arrow35down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow35down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: rotate(135deg) translatex(-100px) translatey(100px);
}
#arrow35scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 2s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 35px;
    background: #f43f7f;
    content: ' ';
}
#arrow4 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(97px);
    opacity: 0;
}
#arrow4wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow4scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow4down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow4down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow4scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #24b1e2;
    content: ' ';
}
#arrow41scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(110px) translatey(-113px) rotate(-90deg);
}
.arrow41down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow41down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-35px);
}
#arrow41scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 140px;
    background: #24b1e2;
    content: ' ';
}
#arrow42scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(144px) translatey(-212px);
}
.arrow42down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow42down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: translatex(0px) translatey(-4px) rotate(135deg);
}
#arrow42scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 176px;
    background: #24b1e2;
    content: ' ';
}
#arrow5 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(97px);
    opacity: 0;
}
#arrow5wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow5scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow5down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow5down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow5scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow51scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-110px) translatey(-117px) rotate(90deg);
}
.arrow51down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow51down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(25px);
}
#arrow51scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 202px;
    background: #f4c541;
    content: ' ';
}
#arrow52scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-209px) translatey(-213px);
}
.arrow52down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow52down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: translatex(0px) translatey(-100px) rotate(135deg);
}
#arrow52scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 80px;
    background: #f4c541;
    content: ' ';
}
#arrow6 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(200px);
    opacity: 0;
}
#arrow6wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow6scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow6down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow6down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow6scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow61scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-108px) translatey(-117px) rotate(90deg);
}
.arrow61down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow61down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-115px);
}
#arrow61scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #24b1e2;
    content: ' ';
}
#arrow62scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: rotate(-45deg) translatex(180px) translatey(-165px);
}
.arrow62down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow62down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatex(0px) translatey(-87px);
}
#arrow62scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.2s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 90px;
    background: #24b1e2;
    content: ' ';
}
#arrow63scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-2px) translatey(-353px);
}
.arrow63down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow63down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: rotate(135deg) translatex(12px) translatey(-12px);
}
#arrow63scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 194px;
    background: #24b1e2;
    content: ' ';
}
#arrow7 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(97px);
    opacity: 0;
    z-index: 999;
}
#arrow7wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow7scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow7down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow7down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow7scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow71scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-110px) translatey(-117px) rotate(90deg);
}
.arrow71down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow71down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-117px);
}
#arrow71scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f4c541;
    content: ' ';
}
#arrow72scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-67px) translatey(-213px);
}
.arrow72down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow72down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: rotate(135deg) translatex(-88px) translatey(88px);
}
#arrow72scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 54px;
    background: #f4c541;
    content: ' ';
}
#arrow8 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(97px);
    opacity: 0;
}
#arrow8wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow8scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow8down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow8down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow8scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow81scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-110px) translatey(-117px) rotate(90deg);
}
.arrow81down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow81down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-35px);
}
#arrow81scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 142px;
    background: #64873a;
    content: ' ';
}
#arrow82scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-222px) translatey(-402px) rotate(135deg);
}
.arrow82down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow82down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: translatex(0px) translatey(0px) rotate(135deg);
}
#arrow82scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 180px;
    background: #64873a;
    content: ' ';
}
#arrow9 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(97px);
    opacity: 0;
}
#arrow9wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow9scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow9down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow9down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow9scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow91scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(110px) translatey(-113px) rotate(-90deg);
}
.arrow91down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow91down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-35px);
}
#arrow91scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 140px;
    background: #f43f7f;
    content: ' ';
}
#arrow92scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(144px) translatey(-212px);
}
.arrow92down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow92down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: translatex(0px) translatey(-4px) rotate(135deg);
}
#arrow92scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 176px;
    background: #f43f7f;
    content: ' ';
}
#arrow10 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: table;
    width:100%;
    height:100%;
    transform: rotate(180deg) translatex(92px) translatey(97px);
    opacity: 0;
}
#arrow10wrap {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    height:100%;
}
#arrow10scroll {
    display: block;
    position: relative;
    padding-top: 40px;
    text-align:center;
}
.arrow10down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow10down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(20px);
}
#arrow10scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 60px;
    background: #f43f7f;
    content: ' ';
}
#arrow101scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-110px) translatey(-117px) rotate(90deg);
}
.arrow101down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow101down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
    border: 6px solid black;
    border-radius: 50%;
    transform: translatey(-35px);
}
#arrow101scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: .8s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 142px;
    background: #f4c541;
    content: ' ';
}
#arrow102scroll {
    display: block;
    position: relative;
    padding-top: 169px;
    text-align:center;
    transform: translatex(-255px) translatey(-324px) rotate(90deg);
}
.arrow102down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow102down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 6px solid black;
    border-right: 6px solid black;
    transform: translatex(0px) translatey(-20px) rotate(135deg);
}
#arrow102scroll::before {
    animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.6s;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: 0px;
    width: 4px;
    height: 160px;
    background: #f4c541;
    content: ' ';
}